body {
  background-color: #020d18;
  color: #abb7c4;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 14px;
}
a {
  color: #abb7c4;
  text-decoration: none;
}
a:hover{
  color: #dcf836;
}
h1, h2, h3, h4, h5, h6 {
  font-family: Dosis, Helvetica, Arial, sans-serif;
  color: #fff;
}
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
  color: #fff;
}
h1 {
  font-size: 48px;
}
h2 {
  font-size: 24px;
  margin-bottom: 60px;
}
h3, h4, h6 {
  font-size: 18px;
}
h4 {
  text-transform: uppercase;
  margin: 15px 0 30px 0;
  padding-bottom: 20px;
  border-bottom: 1px solid #405266;
  line-height: 40px;
}



.content-wrapper {
  max-width: 1140px;
  margin: 0 auto;
}



#header {
  background: url(../images/slider-bg.jpg) no-repeat bottom center;
  border-bottom: 1px solid #868b8f;
}

/* header main nav */
header {
  padding: 20px 0 25px 0;
  display: flex;
  align-items: center;
}
#logo a {
  display: inline-block;
  width: 226px;
  height: 59px;
  background: url(../images/logo-moviepage.png) no-repeat;
  text-indent: -9999em;
}
header nav {
  margin-left: 45px;
}
header ul {
}
header li {
  display: inline-block;
  font-family: Dosis, Helvetica, Arial, sans-serif;
}
header li a {
  text-transform: uppercase;
  font-weight: bold;
  padding: 20px 15px;
}
header li a.active {
  color: #dcf836;
}

/* feature movies */
#featured-movies {
  display: flex;
  justify-content: space-between;
  padding-top: 50px;
  padding-bottom: 150px;
}
.feature-movie {
  position: relative;
  width: 24%;
}
.movie-thumb {
  border-radius: 5px;
  overflow: hidden;
}
.movie-thumb img {
  width: 100%;
  opacity: 0.6;
}
.movie-content {
  position: absolute;
  bottom: 2px;
  left: 0;
  width: 100%;
}
.movie-genres {
  padding: 10px 10px 0 10px;
}
.movie-genres a {
  line-height: 28px;
}
.movie-genres span {
  font-size: 12px;
  color: #fff;
  background: #dd003f;
  padding: 3px 5px;
  border-radius: 3px;
}
.movie-genres span.action {
  background: #f5b50a;
}
.movie-genres span.adventure {
  background: #ec5a1a;
}
.movie-genres span.comedy {
  background: #a6bb16;
}
.movie-genres a:hover {
  color: #fff;
}
.mv-title {
  padding: 10px;
  text-transform: uppercase;
  font-weight: bold;
}



main {
  display: flex;
  justify-content: space-between;
}


/* main content */
#main-content {
  width: 65%;
}
.content-section {
  padding-top: 100px;
}

#theatre-wrapper {
  display: flex;
  justify-content: space-between;
}
.in-theatre {
  width: 23%;
  position: relative;
}
.in-theatre .movie-content {
  background: none;
}
.in-theatre .mv-title {
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 13px;
}


.pagination {
  padding-top: 40px;
  font-size: 15px;
}
.pagination li {
  display: inline;
  padding-right: 10px;
}
.pagination li a {
  color: #2a6496;
}
.pagination li a.active {
  color: #dcf836;
}


.latest-news-item h3  {
  margin: 20px 0;
}
.latest-news-item h3 a {
  color: #2a6496;
  line-height: 20px;
}
.latest-news-item p {
  margin-bottom: 30px;
  line-height: 28px;
}


/* sidebar */
#sidebar {
  width: 25%;
}
#sidebar .widget {
  padding-top: 100px;
}
#sidebar section {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}
.celeb-thumb img {
  width: 70px;
  border-radius: 5px;
}
.celeb-name {
  padding-left: 15px;
}
.celeb-name a {
  color: #fff;
}



/* footer */
footer {
  margin-top: 100px;
  background-color: #0f1c27;
  border-top: 2px solid #1e2c3b;
}
footer .content-wrapper {
  display: flex;
  padding: 20px 0;
}
footer .content-wrapper div {
  flex: 1;
}
.top-link {
  text-align: right;
}
